<!DOCTYPE html>
<html lang="en">

<head>
	<title>Digital Greenhouse</title>
	
	<!-- BootStrap Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- BootStrap Scripts -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	<!-- JQuery Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

	<!-- Chart.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.min.js"></script>
</head>
<body>
	<div>
	<h2>Plot 1:</h2>
	{% if (plot_0_history is defined) %}
		{% for log in plot_0_history %}
			<p>{{ log.timedate }}</p>
				<ul>
					<li>Water: {{ log.water }}</li>
					<li>Light: {{ log.light }}</li>
				</ul>
		{% endfor %}
	{% endif %}
		</div>
		<div>
		<h2>Plot 2:</h2>
		{% if (plot_1_history is defined) %}
		{% for log in plot_1_history %}
			<p>{{ log.timedate }}</p>
				<ul>
					<li>Water: {{ log.water }}</li>
					<li>Light: {{ log.light }}</li>
				</ul>
		{% endfor %}
	{% endif %}
	<div>
	<h2>Plot 3:</h2>
		{% if (plot_2_history is defined) %}
		{% for log in plot_2_history %}
			<p>{{ log.timedate }}</p>
				<ul>
					<li>Water: {{ log.water }}</li>
					<li>Light: {{ log.light }}</li>
				</ul>
		{% endfor %}
	{% endif %}
	</div>
	<div>
	<h2>Plot 4:</h2>
	{% if (plot_3_history is defined) %}
		{% for log in plot_3_history %}
			<p>{{ log.timedate }}</p>
				<ul>
					<li>Water: {{ log.water }}</li>
					<li>Light: {{ log.light }}</li>
				</ul>
		{% endfor %}
	{% endif %}
	</div>
	<div>
	<h2>Planter:</h2>
	{% if(planter_history is defined) %}
		{% for log in planter_history %}
			<p>{{ log.timedate }}</p>
			<ul>
				<li>Humidity: {{ log.humidity }}</li>
				<li>Temperature: {{ log.temperature }}</li>
			</ul>
		{% endfor %}
	{% endif %}
	</div>




</body>