.clickable {
	
}

.jumbotron {
	margin-top: 15px;
}

.planter {
	
	background-color: gray;
	width:49%;
	height:49%;
}
.planter:after {
	content: "";
	display: block;
	padding-bottom:100%;

}

.dropdown {
	background-color: white;
	border-radius: 3px;
	width:9.7em;
	padding-bottom:1.5em;
	text-align:center;
	display:none;
	z-index: 1;
}

.exit {
	font-size: 1em;
	float:right;
	position:relative;
	top:-3em;
}

.form {
	display: none;
}

#visualizer {
	
	width:75%;
	
}

img {
	
	width: 60%;
	
}
.form>input {
	width:95%;
}
